<!DOCTYPE html>
<html>
<head>
  <title>HomeSense</title>
  <link rel="shortcut icon" type="image/png" href="/static/home.png"/>
  <link rel="stylesheet" href="/static/foundation.min.css">
  <link rel="stylesheet" href="/static/normalize.css">
  <link rel="stylesheet" href="/static/style.css">
  <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
</head>
<body>
  <header class="top-bar">
    <h1><a href="/" class="header-link">HomeSense</a></h1>
  </header>
  {% block logout %} {% endblock %}
  <div class="main-content">
    {% block content %}{% endblock %}
  </div>
</body>
</html>
