{% extends 'base.html' %}
{% block content %}
<h1 style="margin: 0">Welcome to HomeSense</h1>
<h4>A Platform. Connected. Intelligent.</h4>
<p>
  HomeSense is a web application that allows users to add groups and sensors, and monitor the status of the sensors through a portal.
  Create an account to register a group and add your sensors. Then, get notified when your sensors sense alarming data!
</p>
<a href="/login" class="button info">Login</a>
<a href="/register" class="button success">Register</a>
{% endblock %}
