{% extends 'base.html' %}

{% block logout %}
<a href="/logout" class="button error" style="float: right; margin: 0; padding: 5px 10px;">Logout</a>
{% endblock %}

{% block content %}
<h1>Showing all Groups</h1>
{% for g in groups %}
<ul class="pricing-table">
  <li class="price group">
    <a href="/group/{{g.name}}"+>
        Group Name: {{g.name}}
    </a>
  </li>
  <li class="description">
    Code: {{g.code}}
  </li>
</ul>
{% endfor %}

<a href="/new_group/" class="button success" style="display: table;">New Group</a>

<h1>Logs</h1>
<table role="grid">
  <thead>
    <tr>
      <td>Time</td>
      <td>Insight</td>
      <td>Group Name</td>
      <td>Sensor Name</td>
      <td>Sensor Activated</td>
      <td>Recommendations</td>
    </tr>
  </thead>
  <tbody class="body">
  </tbody>
</table>
<script type="text/javascript">
  function updateLogs(){
      $.ajax({
        type: "GET",
        url: "/data_sensors",
        contentType: "application/json",
        dataType: "text",
        success: function(data){
          $(".body").empty();
          var jsonData = JSON.parse(data);
          for (var i = 0; i < jsonData.length; i++){
            data_received = jsonData[i].data;
            var signature = "<td>" + jsonData[i]["signature"] + "</td>";
            var insights = "<td>"+data_received["insight"]+"</td>";
            var group_id = "<td>"+data_received["groupId"]+"</td>";
            var sensor_id = "<td>"+data_received["sensorId"]+"</td>";

            var data = "<td>";
            for (var key in data_received["data"]){
              var print_key = key;
              var status;
              if (key == "vehicleHealthUpload"){
                  print_key = "Direction from home";
                  status = (data_received["data"][key] == "true") ? "you are coming home" : "you are leaving home";
              } else if (key == "tripSummaryUpload"){
                  status = (parseInt(data_received["data"][key]) >= 5) ? "far away" : "near" ;
              } else{
                  status = (data_received["data"][key] == "true") ? "activated" : "deactivated";
              }
              data += ("<b>"+print_key+"</b>" + " was " + status + "<br/>");
            }
            data += "</td>";

            var recs = "<td>";
            for (var key in jsonData[i]["recommendations"]){
              var status = (jsonData[i]["recommendations"][key] == "true") ? "activated": "deactivated";
              recs += ("<b>"+key+"</b>" + " should be " + status  + "<br/>");
            }
            recs += "</td>";

            var tr = "<tr>" + signature + insights + group_id + sensor_id + data + recs + "</tr>";
            $(".body").append(tr);
          }
        },
        error: function(a, b, c){
          console.log(a);
          console.log(b);
        }
      });
  }
  setInterval("updateLogs()", 1000);
  updateLogs()
</script>

{% endblock %}
